@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

$colors: (
  callToActionBtn: hsl(0, 100%, 68%),
  headerColor: hsl(230, 29%, 20%),
  navActiveState: hsl(230, 11%, 40%),
  bgNavRight: hsl(207, 33%, 95%)
);

@function color($color-name) {
  @return map-get($colors, $color-name );
}

// media queries 

@mixin for-phone {
  @media (max-width: 375px) { @content; }
}
@mixin for-phone-up {
  @media (min-width: 376px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  // font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

body::after {
 content: '';
 background-color: color(bgNavRight);
}

header {
  padding: 2em 1em 1em 2em;
  
  @include for-tablet-portrait-up() {
    padding: 3em 3em 1em 2em;
    margin-bottom: 2.2em;
  }

  @include for-tablet-landscape-up() {
    padding: 3em 3em 1em 3em;
    margin-bottom: 2em;
  }

  @include for-desktop-up() {
    padding: 3em 3em 1em 6em;
    margin-bottom: 4em;
  }

  nav {
    float: right;

    .desktop-nav {
      text-transform: uppercase;
      font-family: 'Barlow Condensed', sans-serif;
      
      @include for-phone() {
        display: none;
      }
      
      @include for-phone-up() {
        display: none;
      }
      
      @include for-tablet-landscape-up() {
        display: block;
      }

      @include for-tablet-portrait-up() {
        display: block;
      }

      ul {
        list-style: none;
        
        li {
          padding: .5em;
          font-weight: 700;
          display: inline-block;

          @include for-tablet-landscape-up() {
            margin-left: 1em;
          }

          &:last-child {
            color: color(navActiveState);

            @include for-tablet-landscape-up() {
              margin-left: 3.5em;
            }
          }
        }
      }
    }

    .mobile-dropDown {

      @include for-tablet-portrait-up() {
        display: none;
      }

      button.mobile-nav {
        border: none;
        width: 2.5rem;
        height: 2.5rem;
        background-color: white;
        outline: none;

        #close-icon {
          display: none;
        }
      }


      .mobile-nav-wrapper {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 20%;
        background-color: white;
        box-shadow: 0 4px 12px color(navActiveState);
        text-align: center;
        padding: 1em;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        display: none;

        ul {
          list-style: none;
          
          li {
            padding: .5em;
            font-weight: 700;

            &:last-child {
              color: color(navActiveState);
              border-top: 2px solid color(bgNavRight);
            }
          }
        }
      }
    }
  }
}


.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  // overflow: hidden;

  @include for-phone() {
    margin-bottom: 2em;
  }

  .hero-left {
    // flex: 1 1;
    
    @include for-phone() {
      width: 100%;
      padding: 1em 1em 1em 2em;
      margin-top: 2.5em;
    }
    
    @include for-phone-up() {
      width: 100%;
      padding: 1em 1em 1em 2em;
      margin-top: 2.5em;
    }
    
    @include for-tablet-portrait-up() {
      flex: 1 1;
      padding: 1em 1em 1em 2em;
    }
    
    @include for-tablet-landscape-up() {
      padding: 1em 1em 1em 3em;
    }
    
    @include for-desktop-up() {
      padding: 1em 1em 1em 6em;

    }

    ul.tags {
      list-style: none;
      // padding-left: 1.5em;
      font-family: 'Barlow Condensed', sans-serif;
      font-size: .9rem;
      text-transform: uppercase;
      
      li{
        display: inline-block;

        &:first-child {
          background-color: color(headerColor);
          color: white;
          padding: .3em .7em;
          border-radius: 28px;
        }

        &:last-child {
          color: color(navActiveState);
          letter-spacing: .3em;
          margin-left: .7em;
        }
      }
    }

    

    h1 {
      color: color(headerColor);
      font-family: 'Barlow Condensed', sans-serif;
      margin-top: .3em;
    }
    
    p {
      margin: 1em 0;
      color: color(navActiveState);
    }

    button {
      padding: .4em;
      border-radius: 7px;
      border: none;
      outline: none;
      text-transform: uppercase;

      @include for-desktop-up() {
        padding: 1em;
      }
    }

    button.demo-btn {
      background-color: color(callToActionBtn);
      color: white;
      // font-size: .8rem;
      font-weight: 700;
    }
    
    button.preview-btn {
      // font-size: .7rem;
      margin-left: .17em;
      background-color: color(bgNavRight);
      color: color(navActiveState);

      @include for-desktop-up() {
        margin-left: 1em;
      }
    }
  }
  
  .hero-right {
    // flex: 1 1;
    background-image: url(/images/illustration-devices.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;

    @include for-phone() {
      width: 100%;
      min-height: 65vh;
      padding: 1em 1em 1em 1em;
      margin-top: 1.5em;
    }
    
    @include for-phone-up() {
      min-height: 55vh;
      margin-top: 1.5em;
      width: 100%;
    }

    @include for-tablet-portrait-up() {
      flex: 1 1;
    }


    img{
      width: 100%;
    }
  }
}

footer {
  padding: 1em;
}
